.button {
  border: none;
  color: #F9F9F9;
  padding: 15px 20px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
}

.button-icon {
  width: 1em;
  height: 0.9em;
}

.primary1 {
  background-image: linear-gradient(#04AFEB, #578B9D)
}

.primary2 {
  background-image: linear-gradient(#04AFEB, #578B9D);
  opacity: 85%;
}

.primary3 {
  background-image: linear-gradient(#04AFEB, #578B9D);
  opacity: 65%;
}

.secondary1 {
  border: #CCCCCC;
  background-image: linear-gradient(#FFFFFF, #CECECE);
  color: black;
}

.secondary2 {
  border: #CCCCCC;
  background-image: linear-gradient(#FFFFFF, #EAEAEA);
  color: black;
  opacity: 75%;
}

.secondary3 {
  border: #CCCCCC;
  background-image: linear-gradient(#FFFFFF, #CECECE);
  color: black;
}

.Black1 {
  border: #000000;
  background-image: linear-gradient(#595959, #000000);
  color: #F9F9F9;
}

.Black2 {
  border: #CCCCCC;
  background-image: linear-gradient(#595959, #000000);
  color: #F9F9F9;
  opacity: 85%;
}

.Black3 {
  border: #CCCCCC;
  background-image: linear-gradient(#595959, #000000);
  color: #F9F9F9;
  opacity: 65%;
}

/* Gray */
.success {
  background-color: #4CAF50;
}

/* Green */
.danger {
  background-color: #f44336;
}

/* Red */
.primary-with-icon {
  background-image: linear-gradient(#04AFEB, #578B9D)
}