.homepage-nav {
  border-radius: 10px;
  padding: 1% 2%;
  align-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0px 2px rgba(0, 0, 0, 20%);
}

.primary {
  border: #000000;
  background-image: linear-gradient(#595959, #000000);
  color: #F9F9F9;
}

.secondary {
  border: #CCCCCC;
  background-color: #F9F9F9;
  color: #252525;
}

.title {
  font-weight: 500;
  font-size: 30px;
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.nav-icon {
  height: 24px;
  width: 24px;
}
