.order-container {
  width: 333px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.order-container-section {
  display: flex;
}

.order-edit-button {
  width: max-content !important;
  padding: 8px 25px !important;
}

.progress {
  background-image: linear-gradient(#ffffff, #cecece);
}

.scheduled {
  background-image: linear-gradient(#ffffff, #cecece);
}

.ready {
  background-image: linear-gradient(#72BE79, #5FA565);
}

.order-container1 {
  width: 75%;
}

.order-container-line {
  display: flex;
  margin: 0 !important;
}

.order-container-subheading {
  font-family: 'mulish';
  font-weight: 500;
  line-height: 17px;
  font-size: 14px;
}

.order-container-text {
  font-family: 'mulish';
  font-weight: 700;
  line-height: 17px;
  font-size: 14px;
  margin-left: 1%;
}

.order-container-header {
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 20px;
  line-height: 25.52px;
  margin-bottom: 2%;
}

.order-container2 {
  width: 25%;
}

.order-button {
  height: 32px;
  width: 78px;
  padding: 8px, 18px, 8px, 18px;
  border: 1px solid #CCCCCC
}

.schedule-button {
  margin-top: 2%;
  width: max-content !important;
  padding: 8px 60px !important;
}