.info-container {
  width: fit-content;
  padding: 4px 15px;
  border-radius: 50px;
  gap: 5px;
  display: flex;
  background: #F9F9F9;
  border: 1px solid #CCCCCC;

  color: var(--main-black, #252525);
  font-family: 'Mulish', sans-serif;;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.info-icon {
  width: 18px;
  height: 18px;
}
